body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    background: url('E:/Nikita loh/title1.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    padding-top: 15%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 

}
.title{
    padding-top: 0px;
    font-size: 70px;
    font-weight: bold;
}

.subtitle{
    padding-top: 0px;
    font-size: 50px;
    font-weight: bold;
}
.title2{
    padding-top: 5%;
    font-size: 60px;
    font-weight: bold;
}
.subtitle2{
    font-size:20px;
    padding: 10%;
}

.button {
    background-color: rgb(220, 251, 255);
    font-family: "Myriad Pro", sans-serif;
    font-size: medium;
    color:rgb(45, 99, 180);
    text-decoration: none;
    margin-right: 3%;
    padding: 2%;
    border-radius: 50%;
  }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right:15%;
    padding-left: 5%;
    padding-right:5%;
    text-align: justify;
    font-size: medium;
    color: white;
  }

  .flex-container text{
    flex: 1;
    max-width: 500px; 
    margin-right: 20px;
  }
  .flex-container img{
    position: relative;
    align-items: center;
    flex: 1;
    max-width: 100%; 
    padding-right: 5%;
    padding-left: 5%;
}

.image img {
    width: 100%;
}

.image1 {
    position: relative;
    z-index: 1; 
}

.image2 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 0; 
}
section {
    padding: 40px;
    text-align: center;
}
.white-background {
    background-color: white;
    color: #333;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
}
.collage {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    justify-items: center; 
}
.collage img {
    width: 100%; 
    padding-left: 5%;
    padding-right: 5%;
    height: auto; 
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        text-align: center;}
}